<main id="quote-box">
  <section id="text">
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit!"</p>
  </section>

  <section id="author">
    <p>Feynman</p>
  </section>

  <section class="cta">
    <abbr title="Tweet this quote">
      <a href="#" id="tweet-quote">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </abbr>
  </section>

  <abbr title="New Quote">
    <button type="button" (click)="newQuote()" id="new-quote">
      <i class="fas fa-chevron-circle-right btn-quote"></i>
    </button>
  </abbr>
</main>
