<main id="quote-box">
  <section id="text">
    <p> {{oneQuote?.text }}  </p>
  </section>

  <section id="author">
    <p> {{oneQuote?.author}} </p>
  </section>

  <section class="cta">
    <abbr title="Tweet this quote">
      <a target="_blank" href="twitter.com/intent/tweet" id="tweet-quote">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </abbr>
  </section>

  <abbr title="New Quote">
    <button type="button" (click)="getQuotes()" id="new-quote">
      <i class="fas fa-chevron-circle-right btn-quote"></i>
    </button>
  </abbr>
</main>
