/* You can add global styles to this file, and also import other style files */
/* *reset css */
@import "./mixins";
@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: $bg-color;

  #quote-box {
    display: flex;
    margin: auto;
    max-height: 60%;
    flex-direction: column;
    width: 40vw;
    position: relative;
    top: 20vh;

    @include mobile{
      width: 80vw;
    }

    #text {
      font-size: 55px;
      font-weight: 700;
      font-family: "Overpass", sans-serif;
      color: whitesmoke;

      @include mobile{
        font-size: 25px;
      }
    }

    #author {
      font-size: 1.5em;
      color: whitesmoke;
      text-align: right;
      font-style: italic;
    }

    .cta {
      /* display: flex;
      flex-direction: column; */
      position: fixed;
      left: calc(50vw - 2.5em);
      bottom: calc(35vh - 2.5em);
      margin: auto;
      margin-top: 80px;
      
      @include mobile{
        bottom: calc(23vh - 2.5em);
      }

      i {
        font-size: 5em;
        margin-bottom: 30px;

        &:hover {
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          perspective: 1000px;
        }

        @keyframes shake {
          10%,
          90% {
            transform: translate3d(-1px, 0, 0);
          }

          20%,
          80% {
            transform: translate3d(2px, 0, 0);
          }

          30%,
          50%,
          70% {
            transform: translate3d(-4px, 0, 0);
          }

          40%,
          60% {
            transform: translate3d(4px, 0, 0);
          }
        }
      }
    }

    abbr {
      align-self: end;

      #new-quote {
        position: fixed;
        left: calc(100vw - 80px);
        bottom: 30px;
        outline: none;
        border: none;
        background-color: transparent;

        .btn-quote {
          font-size: 60px;
          color: $color-violet;
          cursor: pointer;
          transition: ease 0.7s;

          &:hover {
            transform: scale(1.4);
          }
        }

        @include mobile{
          left: calc(100vw - 90px);
          bottom: 25px;
        }
      }
    }
  }
}
